COSMOTECH_API_URL=https://cluster/tenant/version
SERVER_URL=https://cluster/keycloak/
REALM_NAME=code_name
COSMOTECH_CLIENT_ID=automation-client
COSMOTECH_CLIENT_SECRET=your_client_secret
LOG_LEVEL=INFO  # Optional, defaults to INFO